* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

#book-title {
  animation: rotate 5s ease infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(30deg);
  }
  40% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  80% {
    transform: rotateZ(-30deg);
  }
  90% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
#mount {
  animation: rotatemount 1s ease-in-out infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes rotatemount {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(30%);
  }
}
.grid-item {
  width: 25%;
  padding: 10px;
  margin: 10px;
  color: white;
}

.flower {
  background: teal;
}

.bird {
  background: salmon;
}

.fruit {
  background: tomato;
}

.tbody {
  overflow: hidden;
}

.testzoomimg {
  height: 100vh;
}
.testzoomimg .row .embla {
  overflow: hidden;
}
.testzoomimg .row .embla .embla__container {
  display: flex;
}
.testzoomimg .row .embla .embla__container .embla__slide {
  background-color: rgb(210, 240, 42);
  position: relative;
  flex: 0 0 100%;
  width: 100px;
  height: 100px;
}
.testzoomimg .row .list-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.testzoomimg .row .list-thumb .embla__slide_thumbnail {
  background-color: rgb(46, 179, 23);
  position: block;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(152, 199, 22);
}
.testzoomimg .row .list-thumb .embla__slide_thumbnail:hover {
  cursor: pointer;
}

#container_zoom {
  display: block;
  position: relative;
  box-sizing: border-box;
  border: 1px solid rgb(29, 211, 44);
}

#zoom_01 {
  width: 100%;
  height: 100%;
  width: 200px;
  height: 200px;
}

.embla_Drag_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.embla_Drag_holder .embla_Drag {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 80%;
}
.embla_Drag_holder .embla_Drag .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.embla_Drag_holder .embla_Drag .embla__viewport .embla__container {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}
.embla_Drag_holder .embla_Drag .embla__viewport .embla__container .embla__slide {
  position: relative;
  min-width: 50%;
  padding-left: 10px;
}
.embla_Drag_holder .embla_Drag .embla__viewport .embla__container .embla__slide .embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 190px;
}
.embla_Drag_holder .embla_Drag .embla__viewport .embla__container .embla__slide .embla__slide__inner .embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}
.embla_Drag_holder .embla_Drag .embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}
.embla_Drag_holder .embla_Drag .embla__viewport.is-dragging {
  cursor: grabbing;
}
.embla_Drag_holder .embla_Drag .embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}
.embla_Drag_holder .embla_Drag .embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}
.embla_Drag_holder .embla_Drag .embla__button__svg {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=main.css.map */