* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}


#book-title{
  animation: rotate 5s ease infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes rotate{
  0%{

    transform:rotateZ(0deg);
  }
  
  25%{

    transform:rotateZ(30deg);
  }

  40%{

    transform:rotateZ(10deg);
  }

  50%{

    transform:rotateZ(0deg);
  }

  80%{

    transform:rotateZ(-30deg);
  }

  
  90%{

    transform:rotateZ(-10deg);
  }

  100%{

    transform:rotateZ(0deg);
  }

}

#mount{
  animation: rotatemount 1s ease-in-out infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes rotatemount{
  from{

    transform:translateY(0%)
  }
  
  to{
    transform:translateY(30%);
  }
}


/////////////// isotope START

.grid-item {
  width: 25%;
  padding: 10px;
  margin: 10px;
  color: white;
}
.flower {
  background: teal;
}
.bird {
  background: salmon;
}
.fruit {
  background: tomato;
}

.tbody{
  overflow: hidden;
}

/////////////// isotope END